html,
body{
    background-color: rgb(15, 23, 32);
    color: rgb(255, 255, 255);
    margin: 0%;
    padding: 0%;
    overflow-x:hidden;
    position: relative;
    height: 100%;
}
#texlogo .logu img{/* lembra de como a estrutura da cascata funciona como os conjuntos númericos, podem ser assim:um conjunto contém subconjuntos e assim vai */
float: left; /* fazer o elemento se deslocar para a esquerda */
background-color: rgb(10, 13, 22);
}
#menuu .meu a img {/* a tag <a> e o elemento <img> não esquecer que tem que colocar eles...*/
  float: right;
  border-radius: 5px;/*adicinar angulo na bordas*/
  
 background-color: rgb(15, 23, 32);
  }
  #menuu .meu a img:hover {
   background-color: rgb(56, 108, 160);
   border-radius: 5px;
  }
#texlogo .logu img{
  border-radius: 15px;
  }

nav#homii{
background-color: rgb(10, 13, 22);
text-align: center;
margin: 0px;
transform: translateY(50%);

}
li{
    padding: 25px;
}

nav#homii li a {/* quando colocado assim sem elemtos dividindo a pagina, mantém a relação dos conjuntos */
    text-decoration: none;
    color: aliceblue;
    line-break: normal;/* quebra de linha */
    padding: 10px;/*faz a imagem entra mais a dentro da página */
    border-radius: 10px;
    text-align: center;/* alinhar o texto*/
}
nav#homii ul li:hover {
    background-color: rgb(89, 115, 141);
    border-radius: 5px;
    
}

nav#homii li{
    display: inline-block;/*modificar os elementos para que eles fiquem alinhasdos em blocos horizontais */
    width: 10em;

   
}
nav#homii ul{
    display: inline-block;
   
}
#divBusca{
    background-color:#181d27;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    float:right;

  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px; /*tamanho da fonte de texto*/
    border:none;
    height:30px;
    width:260px;
    color: aliceblue;
  }

  #btnBusca{
    height: 30px;
    width: 30px;
  }
#filmes .imagens figure{
  display: inline-block;
}

#carouselExample #uiui img{
  width: 100px;
  height: 800px;
  padding: 50px;
}
/*lembrar a ideia de conjuntos, o conjunto de maior proporção afetara os subconjuntos, mas as caracteristicas dos subconjuntos seram mantidas.*/
nav#menuu img{
 position: absolute;
  float: right;
  right: 2px;
  transform: translatey(40px);
}

.texti{
  text-align: center;
}
.nav-list a, li{
  color:rgb(255, 255, 255);
  text-decoration: none;
  display: inline-block;
}
#imgperson{
  float:right;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  transform: translate();
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display:-webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack:center;
  -ms-flex-pack: center;
  -webkit-justify-content:center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;


}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 250ms all;
}
:root{
  --swiper-theme-color:#fff;
}

.seucine{
  max-width:100%;
  height: 200px auto;
}
.seucine{
  padding: 15px;
}
h1{
  text-align: center;
}
.swiper-slide img:hover{
  transform: scale(1.2);
  z-index: 1;
}
.swiper-slide:first-child:hover{
  margin: 0 40px;
  transition: 250ms all;

}
.swiper-wrapper{
padding: 20px 0;
}
